/* Importando fontes adicionais */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

/* Tailwind base components and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Classe CSS para usar a fonte Geist Sans no logo do navbar */
.geist-sans {
  font-family: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
}

:root {
  font-family: "Inter", sans-serif;
}
